html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #12608d;
}

h2 {
	font-size: 24px;
	line-height: 1.4em;
	font-weight: lighter;
	color: white;
	text-align: center;
}

p {
	font-size: 16px;
	color: white;
}

@media (min-width: 321px) {
    h2 {
        font-size: 40px;
    }
    
    p {
        font-size: 24px;
    }
}

p a {
	display: inline-block;
	border-bottom: 1px solid white;
	color: white;
	text-decoration: none;
}

.spacer.third {
	width:100%;
	height:40%;
}

.spacer.half {
	width:100%;
	height:50%;
}

.spacer.most {
	width: 100%;
	height: 80%;
}

.spacer.full {
	width: 100%;
	height: 100%;
}

.map {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

#photomap {
	opacity: 0;
}

#logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10%;
	box-sizing: border-box;
}

#logo #img {
	width: 100%;
	height: 100%;
	background-image: url(assets/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#scroll-up {
	position: relative;
	color: white;
	text-align: center;
}

#about-swim {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
	color: white;
}

@media (min-width: 321px) {
    #about-swim {
        padding: 80px;
    }
}

#cam {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	opacity: 0;
}

#cam #stats {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 16px 24px 24px 16px;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
	border-radius: 8px;
}

#cam #stats .label {
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
}

#cam #stats .value {
	font-weight: bold;
	font-size: 16px;
}

#cam .marker {
}

.marker .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  float: left;
  background: #ffffff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: radar 2s 0s ease-out infinite;
  -moz-animation: radar 2s 0s ease-out infinite;
  animation: radar 2s 0s ease-out infinite;
}

@-webkit-keyframes radar {
  0% {
    box-shadow: 0 0 8px 6px rgba(93,204,231, .5), 0 0 0px 0px transparent, 0 0 0px 0px rgba(93,204,231, .7);
  }
  10% {
    transform:scale(1,1);
    box-shadow: 0 0 8px 6px rgba(93,204,231, .5), 0 0 12px 10px transparent, 0 0 12px 14px rgba(93,204,231, .7);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}
@-moz-keyframes radar {
  0% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 0px 0px transparent, 0 0 0px 0px rgb(93,204,231);
  }
  10% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 12px 10px transparent, 0 0 12px 14px rgb(93,204,231);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}
@keyframes radar {
  0% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 0px 0px transparent, 0 0 0px 0px rgb(93,204,231);
  }
  10% {
    box-shadow: 0 0 8px 6px rgb(93,204,231), 0 0 12px 10px transparent, 0 0 12px 14px rgb(93,204,231);
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}

#about-ubunye {
    position: relative;
    padding: 16px;
}

@media (min-width: 321px) {
    #about-ubunye {
        padding: 80px;
    }
}

#about-ubunye .image {
	width:100%;
	margin-bottom:16px;
}

@media (min-width: 321px) {
	#about-ubunye .image {
		float: left;
		width: auto;
		height: 276px;
		margin-right: 16px;
		margin-bottom: 16px;
		box-shadow: 10px 20px 16px rgba(0,0,0,0.1);
	}
}

#donate {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    align-items: center;
    justify-content: space-between;
}

#donate h2 {
	transform: scale(2);
}
#donations {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity:0;
	pointer-events: none;
}

#donations .donation {
	position: relative;	
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.donation .message {
	font-size: 16px;
}

.donation .name {
	font-size: 12px;
	opacity: 0.8;
}
.donation:nth-child(1) {
	top: 10px;
	left: 50px;
}

.donation:nth-child(2) {
	top: 30px;
	left: 60px;
}

.donation:nth-child(3) {
	top: 50px;
	left: 70px;
}

.donation:nth-child(4) {
	top: 50px;
	left: 160px;
}

.donation:nth-child(5) {
	top: 90px;
	left: 120px;
}

.donation:nth-child(6) {
	top: 100px;
	left: 150px;
}

#donate .button {
	display: inline-block;
	margin: 8px;
    padding: 32px 60px;
    border: 2px solid white;
    border-radius: 16px;
    background-color: rgba(255,255,255,0.1);
    color: white;
    cursor: pointer;
    text-align: center;
}

#donate .button .amt {
	font-size: 32px;
}

#donate .button .desc {
	font-size: 16px;
}

#donate .button:hover {
	background-color: rgba(255,255,255,0.2);
}


